
{% extends 'carservice/schedule/template.html' %}

{% block title %}Thêm lịch trình mới{% endblock %}


{% block navibase %}
    <li>
        <i class="fa fa-dashboard"></i> Lịch trình</a>
    </li>
    <li class="active">
        <i class="fa fa-table"></i> Thêm lịch trình
    </li>
{% endblock %}

{% load staticfiles%}
{% block scripts %}
    
    <link href="{% static 'css/jquery_datetimepicker.css' %}" rel="stylesheet">
    <script src="{% static 'js/build/jquery.datetimepicker.full.js' %}"></script>

{% endblock %}

{% block contain %}
    <div class="panel panel-primary">
        <div class="panel-heading">Thêm lịch trình mới</div>
        <div class="panel-body">
            <form method="post" action="">
            {% csrf_token %}
            <div class="form-group">
                {{ form }}
            </div>
            <div class="form-group">
                <input class="btn btn-primary btn-block" type="submit" value="Thêm" />
            </div>
        </form>
        </form>
            
        </div>
    </div>
    <a href="{% url 'carservice:schedule'%}"><i class="fa fa-reply fa-3x" aria-hidden="true"></i>
{% endblock %}
