<%= content_tag :div, class: "timeline-block" do -%>
	<%= content_tag :div, class: "timeline-img",:'data-anim-effect'=>"zoomIn", :'data-anim-delay'=>"400" do -%>
		<%= content_tag(:i,Time.now.strftime("%d/%m/%Y"), class: nil)-%>
	<% end -%>
	<%= content_tag :div, class: "timeline-content",:'data-anim-effect'=>"fadeInLeft", :'data-anim-delay'=>"400" do -%>
		<%= content_tag(:h2,"Lịch đang trống", class: nil)-%>
		<%= content_tag(:p,"Liên hệ: 0915630032, gặp Nhân. Đặt xe ngay", class: nil)-%>
	<% end -%>

<% end -%>
