<div class="ui two column stackable grid">
	<div class="sixteen wide column" data-anim-effect="fadeInUp"><iframe style="width: 100%; display: block; border: 0px none; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;" class="chartjs-hidden-iframe"></iframe>
		<h4 class="ui center aligned header">Thống kê lịch trình trong năm <%=Time.now.year%></h4>
		
		<canvas height="336" width="672" style="width: 672px; height: 336px;" id="lich_trinh" data-chart-type="bar" data-labels="[&quot;Một&quot;, &quot;Hai&quot;, &quot;Ba&quot;, &quot;Bốn&quot;, &quot;Năm&quot;, &quot;Sáu&quot;, &quot;Bảy&quot;, &quot;Tám&quot;, &quot;Chín&quot;, &quot;Mười&quot;, &quot;Mười một&quot;, &quot;Mười hai&quot;]" <%= chartValue%>  data-colors="[&quot;#FF6384&quot;, &quot;#4BC0C0&quot;, &quot;#FFCE56&quot;, &quot;#4BC0C0&quot;, &quot;#36A2EB&quot;, &quot;#FF6384&quot;, &quot;#E7E9ED&quot;, &quot;#4BC0C0&quot;, &quot;#FFCE56&quot;, &quot;#4BC0C0&quot;, &quot;#36A2EB&quot;, &quot;#FF6384&quot;, &quot;#E7E9ED&quot;]" data-heading="Thống kê lịch trình"></canvas>
		
	</div>

</div>