<div class="testimonial_left column" data-anim-effect="fadeInLeft" data-anim-delay="0">
	<div class="ui segment">
		<i class="huge left glyphicon glyphicon-star"></i>
		<a class="ui right ribbon label">
			<span class="person">Emile Zola</span>
			
		</a>
		<p>
			"Không gì giúp phát triển trí thông minh như là đi du lịch."
	</div>
</div>
<div class="testimonial_right column" data-anim-effect="fadeInRight" data-anim-delay="200">
	<div class="ui segment">
		<i class="huge right glyphicon glyphicon-star"></i>
		<a class="ui left ribbon label">
			<span class="person">Jack Kerouac</span>
			
		</a>
		<p>
			"Những chiếc va li tồi tàn của chúng tôi lại một lần nữa chất đống ngoài vỉa hè, chặng đường phía trước thậm chí còn dài hơn nữa. Nhưng có hề chi, con đường đi mới chính là cuộc sống."
		</p>
	</div>
</div>
<div class="testimonial_left column" data-anim-effect="fadeInLeft" data-anim-delay="0">
	<div class="ui segment">
		<i class="huge left glyphicon glyphicon-star"></i>
		<a class="ui right ribbon label">
			<span class="person">Ibn Battuta</span>
			
		</a>
		<p>
			
			"Du lịch – ban đầu nó khiến bạn không thốt nên lời, và sau đó biến bạn trở thành một người kể chuyện."
	</div>
</div>
<div class="testimonial_right column" data-anim-effect="fadeInRight" data-anim-delay="200">
	<div class="ui segment">
		<i class="huge right glyphicon glyphicon-star"></i>
		<a class="ui left ribbon label">
			<span class="person">Michael Palin</span>
			
		</a>
		<p>
			“Một khi bị nhiễm niềm đam mê du lịch, chẳng có phương thuốc nào có thể hóa giải, và tôi biết rằng tôi sẽ hạnh phúc khi có căn bệnh này cho đến hết cuộc đời.”
		</p>
	</div>
</div>