{% extends 'carservice/customer/template.html' %}

{% block title %}Thông tin chi tiết{% endblock %}


{% block navibase %}
    <li>
        <i class="fa fa-dashboard"></i> Xe</a>
    </li>
    <li class="active">
        <i class="fa fa-table"></i> Thông tin chi tiết
    </li>
{% endblock %}
                
{% block contain %}
    {%  if customer %}
        <div class="panel panel-primary">
        <div class="panel-heading"> Thông tin</div>
        <div class="panel-body">
            {% if object_list%}
                {% for customer in object_list %}
                    <div class="col-xs-4 col-md-4">
                        <img src="{{ customer.cAvatar.url }}" class="img-thumbnail img-responsive" >         
                    </div>
                    <div class="col-xs-8 col-md-8">
                        <strong>{{ customer.cName }}</strong></p>
                        <p>Số điện thoại: <strong>{{ customer.cPhone }}</strong></p>
                        <p>Địa chỉ: <strong>{{ customer.cAddress }}</strong></p>
                        <p>Chứng Minh Thư: <strong>{{ customer.cID }}</strong></p>  
                    </div>
                    <a href="{% url 'carservice:customer_edit' customer.id%}"> Sửa khách hàng</a>
                {% endfor %}
                
            {% else %}
                <a href="{% url 'carservice:customer_new' %}"> Thêm khách hàng</a>
            {% endif%}
                     
        </div>
    </div>
    {%  endif%}
    <a href="{% url 'carservice:customer'%}"><i class="fa fa-reply fa-3x" aria-hidden="true"></i>
{% endblock %}

