{% extends 'carservice/cost/template.html' %}

{% block title %}Chỉnh sửa thông tin{% endblock %}


{% block navibase %}
    <li>
        <i class="fa fa-dashboard"></i>  Doanh thu</a>
    </li>
    <li class="active">
        <i class="fa fa-table"></i> Cập nhật
    </li>
{% endblock %}
                
{% block contain %}
    <div class="panel panel-primary">
        <div class="panel-heading">Chỉnh sửa hóa đơn</div>
        <div class="panel-body">
            <form method="post" action="">
            {% csrf_token %}
            <div class="form-group">
                {{ form }}
            </div>
            <div class="form-group">
                <input class="btn btn-primary btn-block" type="submit" value="Cập nhật" />
            </div>
        </form>
        </form>
            
        </div>
    </div>
    <a href="{% url 'carservice:cost'%}"><i class="fa fa-reply fa-3x" aria-hidden="true"></i>
{% endblock %}




