{% extends 'carservice/cost/template.html' %}

{% block title %}Quản lý chi phí{% endblock %}


{% block navibase %}
    <li>
        <i class="fa fa-dashboard"></i> Hóa đơn</a>
    </li>
    <li class="active">
        <i class="fa fa-table"></i> Hiển thị
    </li>
{% endblock %}
                
{% block contain %}
    <div class="panel panel-primary">
        <div class="panel-heading">Danh sách doanh thu của dịch vụ du lịch <strong>Phước Nhân</strong></div>
        <div class="panel-body">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr class="bg-primary">
                        <th>STT</th>
                        <th>Lịch trình</th>
                        <th>Tiền cho thuê</th>
                        <th>Phí dầu</th>
                        <th>Phí tài xế</th>
                        <th>Phí phát sinh</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {%  if cost_list %}
                        {%  for cost in cost_list %}
                            <tr>
                                <th>{{ cost.id }}</th>
                                <th>Từ ngày {{ cost.schedule.departure_day|date:'d/m/Y'}} -> ngày {{ cost.schedule.destination_day|date:'d/m/Y'}}</th>
                                <th>{{ cost.total_revenue}}</th>
                                <th>{{ cost.spent_oil}}</th>
                                <th>{{ cost.spent_steersman}}</th>
                                <th>{{ cost.spent_arises}}</th>
                                <th style="text-align: center;">
                                    <a href="chitiet/{{cost.id}}" alt="Xem chi tiết"><i class="fa fa-eye fa-lg" aria-hidden="true"></i></a>

                                    <a href="capnhat/{{cost.id}}" alt="Chỉnh sửa thông tint"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>

                                    <a href="xoa/{{cost.id}}" alt="Xóa"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
                                </th>
                            </tr>
                        {%  endfor %}
                        
                    {%  endif%}
                   
                </tbody>
            </table>    
            
            
        </div>
    </div>
    <a href="{% url 'carservice:cost_new'%}">Thêm chi phi +</a>
{% endblock %}

