{% extends 'frontend/template.html' %}

{% block title %} Đặt lịch | Dịch vụ thuê xe du lịch Phước Nhân {% endblock %}

{% block content %}
	{% load staticfiles %}


	<header class="page-header nevy-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">                
                    <h2 class="page-title"> Thông tin xe</h2>
                    <p class="page-description yellow-color">Thông tin về các loại xe</p>        
                </div><!-- /.col-md-12 -->
            </div><!-- /.row-->
        </div><!-- /.container-fluid -->           
    
	</header>

	<div class="vehicle-single-block vehicle-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="corousel-gallery-content">
                        <div class="gallery">
                             <div class="full-view owl-carousel owl-loaded owl-drag">
                                  
                                  
                                  
                                  
                                  
                                  
                              <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 4620px;"><div class="owl-item active" style="width: 770px;"><a class="item" href="assets/images/post/list-image-three.jpg">
                                      <img src="assets/images/post/post01.jpg" alt="post">
                                  </a></div><div class="owl-item" style="width: 770px;"><a class="item" href="assets/images/post/list-image-two.jpg">
                                      <img src="assets/images/post/list-image-two.jpg" alt="post">
                                  </a></div><div class="owl-item" style="width: 770px;"><a class="item" href="assets/images/post/list-image-three.jpg">
                                      <img src="assets/images/post/list-image-three.jpg" alt="post">
                                  </a></div><div class="owl-item" style="width: 770px;"><a class="item" href="assets/images/post/list-image-four.jpg">
                                      <img src="assets/images/post/list-image-four.jpg" alt="post">
                                  </a></div><div class="owl-item" style="width: 770px;"><a class="item" href="assets/images/post/list-image-five.jpg">
                                      <img src="assets/images/post/list-image-five.jpg" alt="post">
                                  </a></div><div class="owl-item" style="width: 770px;"><a class="item" href="assets/images/post/list-image-six.jpg">
                                      <img src="assets/images/post/list-image-six.jpg" alt="post">
                                  </a></div></div></div><div class="owl-nav disabled"><div class="owl-prev">prev</div><div class="owl-next">next</div></div><div class="owl-dots"><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div><div class="owl-dot"><span></span></div></div></div>

                            <div class="list-view owl-carousel owl-loaded owl-drag">
                                  
                                  
                                  
                                  
                                  
                                  
                              <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 785px;"><div class="owl-item active current" style="width: 115.833px; margin-right: 15px;"><div class="item">
                                      <img src="assets/images/post/list-image-one.jpg" alt="post-image">
                                  </div></div><div class="owl-item active" style="width: 115.833px; margin-right: 15px;"><div class="item">
                                      <img src="assets/images/post/list-image-two.jpg" alt="post-image">
                                  </div></div><div class="owl-item active" style="width: 115.833px; margin-right: 15px;"><div class="item">
                                      <img src="assets/images/post/list-image-three.jpg" alt="post-image">
                                  </div></div><div class="owl-item active" style="width: 115.833px; margin-right: 15px;"><div class="item">
                                      <img src="assets/images/post/list-image-four.jpg" alt="post-image">
                                  </div></div><div class="owl-item active" style="width: 115.833px; margin-right: 15px;"><div class="item">
                                      <img src="assets/images/post/list-image-five.jpg" alt="post-image">
                                  </div></div><div class="owl-item active" style="width: 115.833px; margin-right: 15px;"><div class="item">
                                      <img src="assets/images/post/list-image-six.jpg" alt="post-image">
                                  </div></div></div></div><div class="owl-nav disabled"><div class="owl-prev">prev</div><div class="owl-next">next</div></div><div class="owl-dots disabled"></div></div>  
                        </div> <!-- /.gallery-two -->
                    </div> <!-- /.corousel-gallery-content -->

                    <div class="vehicle-single-content">
                        <div class="tb mb-block">
                            <div class="tb-cell mb-block">
                               <h2 class="vehicle-single-title">Maruti 2008 Model</h2>
                            </div><!-- /.tb-cell -->
                            <div class="tb-cell mb-block">
                               <h2 class="pull-right rent-price">Rent/Day: $350</h2>
                            </div><!-- /.tb-cell -->
                        </div><!-- /.tb -->
                        <div class="clearfix"></div><!-- /.clearfix -->
                        
                        <div class="price-details">
                            <h3 class="details-title">Price Details-</h3>
                            <ul>
                                <li>Rent/Day: $150 (negotiable)</li>
                                <li>Rent/Week: $900 (negotiable)</li>
                                <li>Rent/Month: $3000 (negotiable)</li>
                                <li>Service Charge : 150 USD per month, subject to change</li>
                                <li>Security Deposit : All Security's Company</li>
                                <li>Servicing : Servicing free</li>
                            </ul>
                        </div><!-- /.price -->

                        <div class="vehicle-overview">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="overview-title">Car Overview</h3>
                                    <div class="overview">
                                        <ul>
                                            <li>Class: <span>Compact</span></li>
                                            <li>Price from: <span>8.26 USD / day</span></li>
                                            <li>Gear box: <span>Auto</span></li>
                                            <li>Mileage: <span>Unlimited</span></li>
                                            <li>Max passengers: <span>5</span></li>
                                            <li>Fuel: <span>Octen/Petrol</span></li>
                                            <li>Max luggage: <span>1</span></li>    
                                            <li>Fuel usage: <span>5-6/100km</span></li>    
                                            <li>Doors: <span>4</span></li>
                                            <li>Engine capacity: <span>1400 ccm</span></li>
                                            <li>Deposit: <span>110.00 USD</span></li>    
                                        </ul>
                                    </div><!-- /.vehicle-overview -->
                                </div><!-- /.col-md-12 -->
                            </div><!-- /.row -->
                        </div><!-- /.overview -->

                        <div class="vehicle-internal-features">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3 class="features-title">Internal features:</h3>
                                    <ul class="features-list">
                                        <li>A/C full-time</li>
                                        <li>Audio Music</li>
                                        <li>Video Music</li>
                                        <li>Special Set</li>
                                        <li>Fire exit</li>
                                        <li>Sound Proof</li>
                                        <li>Satellite Tracker</li>
                                        <li>Car Heater</li>
                                        <li>Mineral Water</li>
                                        <li>Cold Drinks</li>
                                    </ul>
                                </div><!-- /.col-md-6 -->
                                <div class="col-md-6">
                                    <h3 class="features-title">External features:</h3>
                                    <ul class="features-list">
                                        <li>4 Doors</li>
                                        <li>2 Outlooking Glass</li>
                                        <li>Awesome Balance System</li>
                                        <li>Powerful Head Light</li>
                                        <li>Backup Fuel</li>
                                        <li>Emergency Break</li>
                                        <li>Emergency Safety Tools</li>
                                    </ul>
                                </div><!-- /.col-md-6 -->
                            </div><!-- /.row -->
                        </div><!-- /.indoor -->
                    </div><!-- /.family-apartment-content -->

                    <div class="hidden-md hidden-lg text-center extend-btn">
                        <span class="extend-icon">
                            <i class="fa fa-angle-down"></i>
                        </span>
                    </div>
                </div> <!-- /.col-md-8 -->

                <div class="col-md-4">
                    <div class="vehicle-sidebar pd-zero">                    
                        <form action="#" method="get" class="advance-search-query search-query-two">
                            <h2 class="form-title">Make A Reservation</h2>
                            <div class="form-content available-filter">
                                <div class="regular-search">
                                <div class="form-group">

                                    <label class="text-uppercase">Picking up location</label>
                                    <div class="input">
                                        <i class="fa fa-map-marker"></i>
                                        <input placeholder="your location" class="pick-location form-controller" type="text">
                                    </div><!--/.input-->

                                    <label class="text-uppercase">Dropping off location</label>
                                    <div class="input">
                                        <i class="fa fa-map-marker"></i>
                                        <input placeholder="your location" class="pick-location form-controller" type="text">
                                    </div><!--/.input-->

                                    <label>Picking up Date</label>
                                    <div class="input">
                                        <i class="fa fa-calendar"></i>
                                        <input class="date-start date-selector form-controller" placeholder="Hire On" type="text">
                                    </div><!--/.input-->

                                    <label>Dropping off Date</label>
                                    <div class="input">
                                        <i class="fa fa-calendar"></i>
                                        <input class="date-end date-selector form-controller" placeholder="Return On" type="text">
                                    </div><!--/.input-->

                                    <label class="text-uppercase">Picking up Time</label>
                                    <div class="input">
                                        <i class="fa fa-clock-o"></i>
                                        <input class="time-selector form-controller" placeholder="15:00 am" type="text">
                                    </div><!--/.input-->

                                    <label class="text-uppercase">Dropping of Time</label>
                                    <div class="input">
                                        <i class="fa fa-clock-o"></i>
                                        <input class="time-selector form-controller" placeholder="15:00 am" type="text">
                                    </div><!--/.input-->

                                    <label class="text-uppercase">Select Class</label>
                                    <div class="input">                                    
                                        <select>
                                            <option value="0" selected="selected">Intermediate</option>
                                            <option value="1">Intermediate</option>
                                            <option value="2">Compact</option>
                                            <option value="3">Station Wagon</option>
                                            <option value="4">SUV</option>
                                            <option value="5">Minibus</option>
                                        </select>
                                    </div><!-- /.input -->

                                    <label class="text-uppercase">Select Fuel</label>
                                    <div class="input">                                    
                                        <select>
                                            <option value="0" selected="selected">Petrol</option>
                                            <option value="1">Diesel</option>
                                            <option value="2">Octen</option>
                                        </select>
                                    </div><!-- /.input -->
                                </div><!-- /.form-group -->

                                </div><!-- /.div regular-search -->

                                <div class="advance-search">
                                    <div class="form-group">
                                        <label class="text-uppercase">Infant Child Seats</label>
                                        <div class="input">                                        
                                            <select>
                                                <option value="0" selected="selected">0</option>
                                                <option value="1">0</option>
                                                <option value="2">1</option>
                                                <option value="3">2</option>
                                                <option value="4">3</option>
                                                <option value="5">4</option>
                                            </select>
                                        </div><!-- /.input -->

                                        <div class="advance-filters">
                                            <label>Resources</label>
                                            <ul class="checkbox-content">
                                                <li>
                                                    <input id="gps-tracker" name="chack" value="chack" type="checkbox">
                                                    <label for="gps-tracker">GPS Tracker</label>
                                                </li>
                                                <li>
                                                    <input id="hand-controls" name="chack" value="chack" type="checkbox">
                                                    <label for="hand-controls">Hand Controls</label>
                                                </li>
                                                <li>
                                                    <input id="electric-windows" name="chack" value="chack" type="checkbox">
                                                    <label for="electric-windows">Electric Windows</label>
                                                </li>
                                                <li>
                                                    <input id="air-bags" name="chack" value="chack" type="checkbox">
                                                    <label for="air-bags">Air Bags</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div><!-- /.form-group -->
                                </div><!-- /.advance-search -->

                                <div class="check-vehicle-footer">
                                    <button type="submit" class="button yellow-button">Book Now</button>                          
                                    <div class="advanced-search yellow-color">
                                        <a href="#" class="advanced-search-btn"><i class="fa fa-search"></i>Available Extra</a>
                                    </div>
                                </div><!-- /.check-vehicle-footer -->
                            </div><!-- /.from-cotent -->
                        </form><!-- /.advance_search_query -->
                        
                        <div class="ads_area">
                            <a href="#"><img src="assets/images/Add-Image.jpg" alt="add"></a>
                        </div><!-- /.ads_area -->
                    </div><!-- /.vehicle-sidebar -->
                </div><!-- /.col-md-4 -->
            </div><!-- /.row -->
        </div><!-- /.container  -->
    </div>
{% endblock%}