{% extends 'frontend/template.html' %}

{% block title %} Liên hệ | Dịch vụ thuê xe du lịch Phước Nhân {% endblock %}

{% block content %}
	<header class="page-header nevy-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">                
                    <h2 class="page-title">Liên hệ</h2>
                    <p class="page-description yellow-color">Thông tin liên hệ với chúng tôi</p>        
                </div><!-- /.col-md-12 -->
            </div><!-- /.row-->
        </div><!-- /.container-fluid -->           
    
	</header>


	<div class="contact-us-area mr-top-60">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-content-three">
                        <h2 class="title">Liên hệ trực tiếp</h2>
                    </div><!-- /.section-title-area -->
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
            <div class="row">
                <div class="col-md-4">
                    <div class="contact-us-content-left">
                        <div class="contact">
                            <h4><i class="fa fa-map-marker"></i>Địa chỉ</h4>
                            <p>112/B - Road 08/A Melbourne <br>Australia</p>
                        </div><!-- /.contact -->
                    
                        <div class="contact">
                            <h4><i class="fa fa-phone"></i>Số điện thoại</h4>
                            <p>+88 0215469875 <br>666 35874692050</p>
                        </div><!-- /.contact -->

                        <div class="contact">
                            <h4><i class="fa fa-envelope"></i>Email</h4>
                            <p>example@domain.com <br>  examplemail@domain.com</p>
                        </div><!-- /.contact -->

                        <div class="contact">
                            <h4><i class="fa fa-user-circle"></i>Mạng xã hội</h4>
                            <div class="social-icon">
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-instagram"></i></a>
                                <a href=""><i class="fa fa-google-plus"></i></a>
                            </div><!-- /.Social-icon -->
                        </div><!-- /.contact -->
                    </div><!-- /.contactus-content-left -->
                </div><!-- /.col-md-4 -->
                
                <div class="col-md-8">
                    <div class="contact-us-content-right">
                        <form action="">
                            <h3 class="from-title">Have a question?</h3>
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            <div class="input-content clearfix">
                                <h4>Send Us A email</h4>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input placeholder="Name*" class="form-control" type="text">
                                    </div><!-- /.col-sm-6 -->
                                    <div class="col-sm-6">
                                        <input placeholder="Email*" class="form-control Email" type="email">
                                    </div><!-- /.col-sm-6 -->
                                    <div class="col-md-12">
                                        <input placeholder="Website*" class="form-control website" type="search">
                                    </div><!-- /.col-md-12 -->
                                    <div class="col-md-12">
                                        <textarea rows="2" cols="80">your massage</textarea>
                                    </div><!-- /.col-md-12 -->
                                </div><!-- /.row -->
                                <div class="subimt-button clearfix">
                                    <input value="Submit" class="submit yellow-button" type="submit">
                                </div><!-- /.subimt -->
                            </div><!-- /.input-content -->
                        </form>
                    </div><!-- /.contactus-content-right -->
                </div><!-- /.col-md-8 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>


    <div class="map-block mr-btm-78">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                   <div class="heading-content style-two">
                       <h3 class="subtitle"> xem bản đồ </h3>
                       <h2 class="title color-nevy"> Tìm &amp; Chỉ đường</h2>
                    </div><!-- /.about-heading-content -->
                        <div class="header-map-content">
                            <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAhj9DBBHP6piNgrPdrfdvtTXX96Xyid70&q=121+King+St,Melbourne+VIC+3000,Australia" allowfullscreen="allowfullscreen" class="" height="550"></iframe>
                        </div><!-- /.map-content -->
                        <p> Tìm địa chỉ hiện tại của bạn</p>
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div>
{% endblock %}