{% extends 'carservice/car/template.html' %}

{% block title %}Thêm xe mới{% endblock %}


{% block navibase %}
    <li>
        <i class="fa fa-dashboard"></i> Xe</a>
    </li>
    <li class="active">
        <i class="fa fa-table"></i> Thêm xe {{ request.resolver_match.url_name }}
    </li>
{% endblock %}
                
{% block contain %}
    <div class="panel panel-primary">
        <div class="panel-heading">Thêm xe mới</div>
        <div class="panel-body">
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
                <div class="form-group">
                    <input class="btn btn-primary btn-block" type="submit" value="Thêm" />
                </div>
            </form>
            
        </div>
    </div>
    <a href="{% url 'carservice:car'%}"><i class="fa fa-reply fa-3x" aria-hidden="true"></i>
{% endblock %}


