{% extends 'carservice/photo/template.html' %}

{% block title %}Quản lý Album{% endblock %}


{% block navibase %}
    <li>
        <i class="fa fa-dashboard"></i> Ảnh</a>
    </li>
    <li class="active">
        <i class="fa fa-table"></i> Hiển thị
    </li>
{% endblock %}
                
{% block contain %}
    <div class="panel panel-primary">
        <div class="panel-heading">Danh sách album</div>
        <div class="panel-body">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr class="bg-primary">
                        <th>STT</th>
                        <th>Tên album</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {%  if photo_list %}
                        {%  for al in photo_list %}
                            <tr>
                                <th>{{ al.id }}</th>
                                <th>{{ al.path_img.url}}</th>
                
                                <th style="text-align: center;">
                                    <a href="chitiet/{{al.id}}" alt="Xem chi tiết"><i class="fa fa-eye fa-lg" aria-hidden="true"></i></a>

                                    <a href="capnhat/{{al.id}}" alt="Chỉnh sửa thông tint"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>

                                    <a href="xoa/{{al.id}}" alt="Xóa"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
                                </th>
                            </tr>
                        {%  endfor %}
                    {%  endif%}
                   
                </tbody>
            </table>    
            
            
        </div>
    </div>
    <a href="{% url 'carservice:album_new'%}">Thêm Ảnh +</a>
{% endblock %}

