{% extends 'carservice/photo/template.html' %}

{% block title %}Thông tin chi tiết{% endblock %}


{% block navibase %}
    <li>
        <i class="fa fa-dashboard"></i> Xe</a>
    </li>
    <li class="active">
        <i class="fa fa-table"></i> Thông tin chi tiết
    </li>
{% endblock %}
                
{% block contain %}
    {%  if al %}
        <div class="panel panel-primary">
            <div class="panel-heading">Chi tiết ảnh</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-2 col-md-2"></div>
                    <div class="col-xs-8 col-md-8">
                        <img src="{{ al.path_img.url }}" class="img-thumbnail img-responsive" >                  
                    </div>
                    <div class="col-xs-2 col-md-2"></div>
                </div>
                
                <div style="text-align-last: center;">
                    <a href="/admin/anh/capnhat/{{al.id}}" alt="Chỉnh sửa thông tint">    <i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                    <a href="/admin/anh/xoa/{{al.id}}" alt="Xóa">
                        <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <a href="/admin/album/chitiet/{{ al.album.id }}"><i class="fa fa-reply fa-3x" aria-hidden="true"></i>
    {%  endif%}
    
{% endblock %}

