{% extends 'carservice/driver/template.html' %}

{% block title %}Quản lý tài xế{% endblock %}


{% block navibase %}
    <li>
        <i class="fa fa-dashboard"></i> Tài xế</a>
    </li>
    <li class="active">
        <i class="fa fa-table"></i> Hiển thị
    </li>
{% endblock %}
                
{% block contain %}
    <div class="panel panel-primary">
        <div class="panel-heading">Danh sách các tài xế của dịch vụ du lịch <strong>Phước Nhân</strong></div>
        <div class="panel-body">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr class="bg-primary">
                        <th>STT</th>
                        <th>CMND</th>
                        <th>Họ&Tên</th>
                        <th>Sinh nhật</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {%  if driver_list %}
                        {%  for driv in driver_list %}
                            <tr>
                                <th>{{ driv.id }}</th>
                                <th>{{ driv.idcard}}</th>
                                <th>{{ driv.drivername}}</th>
                                <th>{{ driv.birthday|date:'d/m/Y'}}</th>
                                <th style="text-align: center;">
                                    <a href="chitiet/{{driv.id}}" alt="Xem chi tiết"><i class="fa fa-eye fa-lg" aria-hidden="true"></i></a>

                                    <a href="capnhat/{{driv.id}}" alt="Chỉnh sửa thông tint"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>

                                    <a href="xoa/{{driv.id}}" alt="Xóa"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
                                </th>
                            </tr>
                        {%  endfor %}
                    {%  endif%}
                   
                </tbody>
            </table>    
            
            
        </div>
    </div>
    <a href="{% url 'carservice:driver_new'%}">Thêm tài xế +</a>
{% endblock %}

