<footer class="footer-block bg-black" style="background-image: url(assets/images/footer-bg.png);">
        <div class="container">
            <!-- footer-top-block -->
            
            <!-- footer-bottom-block -->
            <div class="footer-bottom-block">            
                <div class="row">
                     <div class="col-md-9">
                        <div class="bottom-content-left">
                            <p class="copyright">Copyright © 2018 Nghia Le -   <a href=""> Dịch vụ xe du lịch Phước Nhân </a></p>
                        </div><!-- /.bottom-top-content -->
                     </div><!-- /.col-md-9 -->
                     <div class="col-md-3">
                        <div class="bottom-content-right">
                            <div class="social-profile">
                                <span class="social-profole-title">Mạng xã hội:</span>
                                <a href=""><i class="fa fa-instagram"></i></a>
                                <a href=""><i class="fa fa-heart"></i></a>
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-twitter"></i></a>
                            </div><!-- /.social-profile -->
                        </div><!-- /.bottom-content-right -->
                     </div><!-- /.col-md-3 -->
                </div><!-- /.row -->
            </div><!-- /.footer-bottom-block -->
        </div><!-- /.container -->
    </footer>