<header class="header-top-area bg-nero">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-8 hidden-xs">
                <div class="header-content-left">
                    <ul class="header-top-menu">
                        <li>
                            <a href="" class="top-left-menu">
                                <i class="fa fa-phone"></i>
                                <span>Liên hệ - 0915 630032</span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="top-left-menu">
                                <i class="fa fa-envelope"></i>
                                <span>nhanknth@gmail.com</span>
                            </a>                                 
                        </li>
                    </ul><!-- /.header-top-menu -->
                </div><!-- /.header-content-lèt -->
            </div><!-- /.col-md-9 -->

            <div class="col-md-3 col-sm-4">
                <div class="header-content-right">
                    <ul class="header-top-menu">
                        <li>
                            <a href="" class="language">
                                <i class="fa fa-language"></i>
                                <span>Ngôn ngữ</span>
                            <span class="fa fa-angle-down"></span></a>
                            <ul class="sub-menu">
                                <li><a href="">Tiếng Việt</a></li>
                            </ul><!-- /.sub-menu -->
                        </li>
                    </ul>
                   <!--  <ul class="header-top-menu">
                        <li>
                            <a href="#" class="search-open">
                                <i class="fa fa-search"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="trigger-overlay">
                                <i class="fa fa-bas"></i>
                            </a>
                        </li>
                    </ul> -->
                </div><!-- /.lèt-content -->
            </div><!-- /.col-md-3 -->
        </div><!-- /.rơ -->
    </div><!-- /.container -->
</header>