{% extends 'carservice/template/template.html' %}

{% block title %}{% endblock %}

{% block contenter %}

	<!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Nội dung web
            </h1>
            <ol class="breadcrumb">
                {% block navibase %}

                {% endblock %}
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <i class="fa fa-info-circle"></i>  Thông tin về album
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            {% block contain %}

            {% endblock %}

        </div>
    </div>
    
    <!-- /.row -->

{% endblock %}